
nav {
    position:relative;
    background: transparent;
    top: 20rem;
    position: relative;
    height: 25px;
    left: 22rem;
    background: transparent;
    width: 378px;
}

ul{
    display: flex;
    
}

li{
    list-style: none;  
    margin-left: 15px;
    color:white;
}